[package]
name = "aoc"
version = "0.0.0"
edition = "2024"

[features]
default = []
visual = [
	"puzzle_runner/visual",
	"dep:raqote",
]
bench = [
	"puzzle_runner/bench",
]
leaderboard = [
	"dep:chrono",
	"dep:serde",
	"dep:serde_json",
]

[dependencies]
# for visual
raqote = { version = "0.8.5", optional = true }

# for leaderboard
ansi_term = { version = "0.12.1", optional = true }
chrono = { version = "0.4.42", optional = true }
serde = { version = "1.0.228", optional = true, features = ["derive"] }
serde_json = { version = "1.0.145", optional = true }

# main
puzzle_runner = { path = "../puzzle_runner" }
puzzle_lib = { path = "../puzzle_lib" }
common_macros = "0.1.1"
derive-new = "0.7"
paste = "1.0.15"
num = "0.4.3"
memoize = { git = "https://github.com/MaienM/memoize", version = "0.4.2" }
itertools = "0.14.0"

[dev-dependencies]
pretty_assertions = "1.4.1"

[lints]
workspace = true

[[bin]]
name = "leaderboard"
required-features = ["leaderboard"]

[[bench]]
name = "main"
harness = false
required-features = ["bench"]
