[package]
name = "puzzle_lib"
version = "0.0.0"
edition = "2024"

[features]
default = []
bench = [
	"dep:criterion",
]

[dependencies]
# for bench
criterion = { version = "0.7.0", optional = true }

# main
derive-new = "0.7"
paste = "1.0.14"
rayon = "1.8.0"
tap = "1.0.1"
num = "0.4.1"
regex = "1.11.1"
itertools = "0.14.0"

[dev-dependencies]
common_macros = "0.1.1"
pretty_assertions = "1.0.0"

[lints]
workspace = true

[[bench]]
name = "libs"
harness = false
required-features = ["bench"]
