[package]
name = "puzzle_runner"
version = "0.0.0"
edition = "2024"

[features]
default = []
visual = [
	"dep:raqote",
	"dep:font-kit",
	"dep:minifb",
]
bench = ["dep:criterion"]

[dependencies]
# for bench
criterion = { version = "=0.7.0", optional = true }

# for visual
raqote = { version = "=0.8.5", optional = true }
font-kit = { version = "=0.14.3", optional = true }
minifb = { version = "=0.28.0", optional = true }

ansi_term = "=0.12.1"
puzzle_runner_derive = { path = "../puzzle_runner_derive" }
clap = { version = "=4.5.51", features = ["derive", "string"] }
rayon = "=1.11.0"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
tikv-jemallocator = "=0.6.1"

[lints]
workspace = true
