[package]
name = "puzzle_runner"
version = "0.0.0"
edition = "2024"

[features]
default = []
visual = [
	"dep:raqote",
	"dep:font-kit",
	"dep:minifb",
]
bench = ["dep:criterion"]

[dependencies]
# for bench
criterion = { version = "0.5.1", optional = true }

# for visual
raqote = { version = "0.8.3", optional = true }
font-kit = { version = "0.14.2", optional = true }
minifb = { version = "0.27.0", optional = true }

ansi_term = "0.12.1"
puzzle_runner_derive = { path = "../puzzle_runner_derive" }
clap = { version = "4.4.10", features = ["derive", "string"] }
rayon = "1.8.0"

[lints]
workspace = true
